color_principal = #3f51b5

tipo_codigo(colorFondo)
  font-family Consolas, courier new, sans-serif
  border-radius 5px
  background-color colorFondo
  color #eee

tipo_pre(colorFondo)
  tipo_codigo(colorFondo)
  padding 6px
  margin 6px
  color #EEE
  white-space pre-wrap

.doc-operaciones
  font-family Roboto, Monserrat, Arial
  .solo-para
    border-top 2px solid color_principal
    .etiqueta-colgante
      vertical-align top
      x-display inline-block
      background-color color_principal
      font-size 12px
      font-weight bold
      color #EEE
      padding 2px 5px 3px 5px
      margin-top 0px
      border-radius 0 0 5px 5px
  .seccion
    padding-top 12px
    margin 12px
    margin-top 36px
  .titulo
    color color_principal
    font-size 18px
    font-weight bold
  .aclaracion
    color gray
    margin 6px
  .comandos
    tipo_pre(#333)
  .equivale-titulo
    font-size 16px
    color #262
    font-weight bold
  .equivale
    padding 6px
    margin 6px
  .equivale-cuerpo
    margin-left 64px
    margin-right 64px
  .contenido
    tipo_pre(#363, #575)
  .codigo
    display inline
    padding 0px 2px 2px 2px
    tipo_codigo(#333, #555)
  .pie
    height 100px
    margin 0
    margin-top 32px
    background-color: #3f51b5
  [doc-oscurecer="si"]
    background-color #CCC
    .comandos
      background-color #555
    .contenido
      background-color #575
