.ejemplo-todo
    font-family: Arial, Helvetica, sans-serif
    font-size 120%
    border-spacing 4px
    td
      background-color #FED
      border-radius 5px
      padding 3px
      margin 4px
      padding-left 5px
      padding-right 5px
      svg
        vertical-align bottom
      &.todo-save
        background-color #bbdefb
        .todo-saved
          color #81c784
        .todo-dirty
          color #f44336
      &.todo-title
        background-color #bbdefb
        font-weight bold
        text-align center
        font-size 110%
        svg
          vertical-align bottom
      &.todo-checkbox
        svg
          vertical-align bottom
    tr.completed
      td
        background-color #BFD
    tr.pending
      td
        background-color #FDE
    tr.add-task
      td
        border-radius 99px
        background-color #1e88e5
