.ejemplo-encuesta
  width 786px
  font-family Arial
  td, th
    vertical-align top
    padding 2px
  .pregunta-id
    div
      background-color #DDD
  .pregunta-text
    font-weight bold
  .pregunta-aclaracion
    &:before
      content '('
    &:after
      content ')'
    font-size 90%
    font-style italic
      