.formulario-precios
  font-family Arial, sans-serif
  border 1px solid gray 
  border-collapse collapse
  td, th
    border 1px solid gray 
    padding 2px
    vertical-align top
    .flechaAtributos
      vertical-align middle
  .atributo-actual
    padding 0px
    width 120px
    input
      width 116px
  .tipoPrecio
    width 20px
  .precioAnterior
    text-align right
  .precio
    width 100px
    padding 0px
    text-align right
    div
      margin 2px
    input
      width 96px
  .producto
    font-weight bold
  .especificacion
    font-size 90%
  .col-prod-esp
    width 300px