.formulario-precios
  font-family Arial, sans-serif
  border 1px solid gray 
  border-collapse collapse
  td, th
    border 1px solid gray 
    padding 2px
    vertical-align top
    [data-type="number"]
      text-align right
    .flechaAtributos
      vertical-align middle
